/* Background color */
body {
  background: rgb(34, 34, 34);
  background: linear-gradient(
    255deg,
    rgba(34, 34, 34, 1) 15%,
    rgba(64, 63, 63, 1) 65%,
    rgba(66, 66, 66, 1) 100%
  );
  color: rgba(243, 243, 243, 0.946);
}

/* The Random Records Banner */
header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 20rem;
  text-align: none;
  margin-right: 0;
}

/* The Audio player  */
#audioplayer {
  width: 92%;
  display: none;
  margin: auto;
}

/* Now playing banner */
.currentsong {
  font-size: 18px;
  margin-bottom: 2rem;
}

/* Search bar and search bar movment */
.search-bar {
  --size: 55px;
  display: flex;
  border-radius: 100px;
  height: var(--size);
  width: var(--size);
  padding-top: 4px;
  padding-right: 3px;
  position: relative;
  transition: width 1000ms cubic-bezier(0.18, 0.89, 0.32, 1.08);
  overflow: hidden;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

.search-bar__input {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0 0.5em;
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4rem;
  padding-left: 0.75rem;
  line-height: cal(var(--size) - 1px);
  opacity: 1;
  width: calc(100% - 92px);
}

.search-bar__input:focus {
  outline: 0;
}

.search-bar__submit {
  font-size: 2.5rem;
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: rgba(243, 243, 243, 0.946);
}

.search-bar:focus-within {
  width: 92%;
}

/* Search results banner */
.searchtext {
  font-size: 25px;
  text-decoration: underline;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-bottom: 1.2;
}

/* The main container that holds the song cards */
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

/* All the song cards  */
.songcard {
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0.25rem;
}

/* The album thumbnail  */
.albumart {
  padding-bottom: 0;
  height: 8rem;
  width: 8rem;
  border-radius: 10%;
}

.albumart:hover {
  outline: 0;
  box-shadow: 0px 0px 15px 10px rgba(170, 168, 168, 0.275);
}

.albumart:focus {
  outline: 0;
  box-shadow: 0px 0px 15px 10px rgba(203, 203, 203, 0.268);
}

/* Song title on the song card */
.SongTitle {
  text-align: center;
  word-wrap: normal;
  padding: 0.75rem;
}

/* Album name on the song card */
.album {
  text-align: center;
  word-wrap: normal;
  padding: 0.75rem;
}

/* The song section of the now planning banner */
.currentsong {
  margin-top: 1rem;
  font-size: 35px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

/* The artist section of the now planning banner */
.currentartist {
  font-size: 24px;
  margin-bottom: 2rem;
  font-style: italic;
  margin-top: -1.35rem;
  text-align: center;
}

/* The now playing banner */
.nowplaying {
  font-size: 25px;
  margin-top: 1rem;
  text-align: center;
}

/* Records logo */
.logored {
  color: red;
}
